img {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
    height:300px;
    width:300px;
}

img:hover{
    opacity: 0.3;
}