.menu li{
    color:red;
    background-color:black;
    display:inline-block;
    margin:0% auto;
    position: relative;
    padding:15px 4%;
    border:1px solid #9d9fa2;
    box-shadow: 2px 2px 10px 0 rgba(0,0,0,0.5);
    border-radius: 6px;
    cursor: pointer;
    transition-property: background;
    transition-duration: .4s;
    transition-delay: 0s;
    transition-timing-function: ease-in-out;
}

.menu li:hover{
    color:blue;
    background-color: rgb(63, 62, 62);
}

.menu-container{
    max-height:340px;
    margin:0% auto;
    content:' ';
    width:100%;
    position:fixed;
    z-index: 100;
}

.wrap{
    height:100%;
    width:100%;
    overflow:hidden;
    top:0;
    left:0;
    text-align:center;
}